body,html{height:100%;padding:0px;margin:0px;background-image:url("../img/galaxya1.png")}
.a{}
.b{}
.c{}
.d{background-color:pink;position:fixed;bottom:0px;height:30%;width:100%;background-image:url("../img/luna.png")}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%; z-index:1;}
#nave img{height:100%;}
#cpanel{width: 200px; height:100ox; position: fixed; top:-9px; left:-30px; text-align: center; list-style-type: none; color: white;}
#hidem,#showm{float:right}
#menu{width: 200px; height:100px; position: fixed; left: 230px;}
